<html>
<head>
<title>Autocomplete</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="js/typeahead.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'words',
        minLength: 3,
        remote: '/search?word=%QUERY',
        limit: 10
    });
});
</script>
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <h3>Welcome to Autocomplete in Node.js</h3>
  <p>Start searching in the textbox below.</p>
  <div class="bs-example">
    <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type here">
  </div>
</body>
</html>